/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
   */
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.main-container {
  height: 65vh;
  background-color: brown;
  color: white;
  background: url(../images/netflix-bg.jpeg) no-repeat center center/cover;
}

.main-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  box-shadow: inset 0px 80px 100px #000, inset 0px -80px 100px #000;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header > div > div > button:hover,
.sub-content-email > button:hover {
  cursor: pointer;
}

.lg-btn {
  background-color: black;
  color: white;
  font-size: 0.9em;
  padding: 3% 5%;
}

.rd-btn {
  background-color: red;
  color: white;
  padding: 2% 3%;
  font-size: 1.1em;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.netflix-logo {
  width: 135px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/netflix-logo.png);
}

.content-container {
  height: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  bottom: 12%;
}

.content-container > div > :first-child {
  font-size: 1.7em;
  font-weight: 600;
}

.content-container div div:nth-child(2),
.content-container div div:nth-child(3) {
  font-size: 1.19em;
  margin: 4% 12%;
}

.content-container input {
  width: 96%;
  height: 9vh;
  padding-left: 5%;
  font-size: 0.8em;
}

.started {
  height: 40px;
  width: 150px;
  padding: 0;
  font-size: 1.1em;
}

.sub-content-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-break {
  width: 100%;
  background-color: #222222;
  height: 1.4vh;
}

.wrapper-flex {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}

.row-wrapper-1,
.row-wrapper-2,
.row-wrapper-3,
.row-wrapper-4 {
  height: 70vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: column;
}

.row-wrapper-1 > div:nth-child(1),
.row-wrapper-1 > div:nth-child(2),
.row-wrapper-2 > div:nth-child(1),
.row-wrapper-2 > div:nth-child(2),
.row-wrapper-3 > div:nth-child(1),
.row-wrapper-3 > div:nth-child(2),
.row-wrapper-4 > div:nth-child(1),
.row-wrapper-4 > div:nth-child(2) {
  height: 50vh;
  width: 100%;
  padding: 2% 6%;
}

.row-wrapper-1 > div:nth-child(1),
.row-wrapper-2 > div:nth-child(1),
.row-wrapper-3 > div:nth-child(1),
.row-wrapper-4 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-text-title {
  font-size: 2.1em;
  font-weight: 600;
  margin-bottom: 2%;
}

.card-text-sub-title {
  font-size: 1.1em;
  margin-top: 1%;
}

.row-wrapper-1 > div:nth-child(2) {
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png")
    no-repeat center center/cover;
}

.row-wrapper-2 > div:nth-child(2) {
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg")
    no-repeat center center/cover;
}

.row-wrapper-3 > div:nth-child(2) {
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png")
    no-repeat center center/cover;
}

.row-wrapper-4 > div:nth-child(2) {
  background: url("https://occ-0-1492-1007.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVxdX2WnFSp49eXb1do0euaj-F8upNImjofE77XStKhf5kUHG94DPlTiGYqPeYNtiox-82NWEK0Ls3CnLe3WWClGdiJP.png?r=5cf")
    no-repeat center center/cover;
}

.faq-container {
  height: auto;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.faq-sub-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.1em;
  margin-bottom: 4%;
}

.question-container {
  margin-top: 2%;
}

.question-container > div:nth-child(1) {
  background-color: #303030;
  height: 6vh;
  padding: 3% 6%;
  /* margin-top: 3%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-container > div:nth-child(2) {
  background-color: #303030;
  height: auto;
  padding: 3% 4%;
  margin-top: 0.2%;
  /* display: none; */
}

/* For mobile landscape mode, tablets */

@media only screen and (min-width: 480px) {
  .main-container {
    height: 90vh;
  }

  .content-container {
    justify-content: center;
  }

  .content-container > div > :first-child {
    font-size: 2.2em;
    font-weight: 700;
  }

  .content-container > div > div:nth-child(2),
  .content-container > div > div:nth-child(3) {
    font-size: 1.35em;
  }

  .started {
    height: 60px;
  }

  .faq-sub-container {
    width: 80%;
  }
}

/* For laptops / iPads */
@media only screen and (min-width: 768px) {
  .main-container {
    height: 85vh;
  }

  .started {
    height: 50px;
  }

  .sub-content-email {
    flex-direction: row;
  }
}

/* For bigger desktop screens */
@media only screen and (min-width: 1024px) {
  .main-container {
    height: 85vh;
  }

  .wrapper-flex {
    /* height: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* color: white; */
  }

  .row-wrapper-1,
  .row-wrapper-3 {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    padding: 2% 0;
  }

  .row-wrapper-2,
  .row-wrapper-4 {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: black;
    padding: 2% 0;
  }

  .row-wrapper-1 > div:nth-child(1),
  .row-wrapper-1 > div:nth-child(2),
  .row-wrapper-2 > div:nth-child(1),
  .row-wrapper-2 > div:nth-child(2),
  .row-wrapper-3 > div:nth-child(1),
  .row-wrapper-3 > div:nth-child(2),
  .row-wrapper-4 > div:nth-child(1),
  .row-wrapper-4 > div:nth-child(2) {
    height: 56vh;
    width: 50%;
    padding: 2% 6%;
  }

  .row-wrapper-1 > div:nth-child(1),
  .row-wrapper-2 > div:nth-child(1),
  .row-wrapper-3 > div:nth-child(1),
  .row-wrapper-4 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }

  .card-text-title {
    font-size: 2.8em;
    font-weight: 600;
    margin-bottom: 3%;
  }

  .card-text-sub-title {
    font-size: 1.5em;
    margin-top: 3%;
  }

  .faq-container {
    padding-top: 4%;
    font-size: 1.3em;
  }

  .faq-sub-container {
    width: 50%;
  }

  .question-container > div:nth-child(1) {
    padding: 2% 4%;
    height: 8vh;
  }
}
